.font-size-input {
    display: inline-flex;
    align-items: center;
    padding: 5px;
  
  }
  
  .font-size-input:hover, .font-size-input:focus{
     border: 1px solid #999;
  }
  
  .font-size-input input {
    width: 30px;
    padding: 0 5px 0 0;
    margin-right: -1px;
    border: 0px;
  }
  
   input:focus{
      outline: none;
  }
   .font-size-input:has(input:focus), .font-size-input:has(dropdown:focus), .font-size-input:has(.dropdown-menu.show) {
        border: 1px solid #999;
   }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-toggle {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: relative;
    color: transparent;
      padding: 0;
  }
  
  
  .dropdown-toggle:after{
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      display:inline-block;
      border: 5px solid transparent;
      border-top: 5px solid gray;
      border-bottom:0 none;
  }
  .dropdown-menu {
    position: absolute;
    top: 150%;
    left: -45px;
    z-index: 1;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }
  
  .dropdown-menu.show {
    display: block;
  }
  
  .dropdown-menu li {
    cursor: pointer;
    padding: 0.25rem 1rem;
  }
  
  .dropdown-menu li:hover {
    background-color: #f5f5f5;
  }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; 
}